.balance-input-container {
  input {
    width: 80px;
  }
}

.grid {
  display: grid;
  grid-template-columns: [page-start] 1fr [info-start] 5rem [center-start] minmax(0, 624px) [center-end] 5rem [info-end] 1fr [page-end];
  grid-template-rows: [page-start]auto [page-end]1fr;
  .grid-create-user {
    grid-column: page-start / info-start;
  }
  .grid-table {
    grid-column: info-start / info-end;
    grid-row: page-start / 2 span;
  }
  .grid-login {
    grid-column: center-start / center-end;
  }
  .grid-local-storage {
    justify-self: center;
    grid-column: info-end / page-end;
    width: 250px;
  }
  .grid-total-user {
    justify-self: center;

    place-content: center;
    grid-column: page-start / info-start;
    width: 250px;
  }
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.table-size {
  min-height: 100vh;
}

.form-size {
  height: 350px;
}

.table-container {
  max-height: 10rem;
  overflow-y: scroll;
}
